# Omni

## Omni has 3 types of files:
- WhatsApp
- Facebook Messenger
- Email

to be cleansed:

- We just need to convert the datetime format and also remove all values "-"
- remove all null values
- convert the datetime column
- and the file name should be omni_channel_startdate_enddate
- specifically for EMAIL, the messages have to be converted from HTML into text

### WhatsApp

In [3]:
import pandas as pd
import numpy as np

path=r"C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\omni\interaction_whatsapp_history.xlsx"
df=pd.read_excel(path)

col= ['session_id',
'From Name',
'from',
'agent_id',
'Agent Name',
'Type',
'message',
'Date Create']


df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)


columns_to_convert = ['Date Create']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
    
df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['Date Create']))
enddate = pd.Timestamp(max(df['Date Create']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_wa_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
df.to_csv(filename, index=False)
df

,session_id,From Name,from,agent_id,Agent Name,Type,message,Date Create
0,wa_6661ebb11a58d,AB,082226882576,7535,,IN,# Request From Bot,2024-06-07 00:02:41

### Facebook messenger

In [7]:
import pandas as pd

col = ['session_id',
'From Name',
'agent_id',
'Type',
'message',
'Date Create']

path=r"C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\omni\interaction_messenger_history.xlsx"
df=pd.read_excel(path)
df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)

columns_to_convert = ['Date Create']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
    
  
df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['Date Create']))
enddate = pd.Timestamp(max(df['Date Create']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_messenger_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
df.to_csv(filename, index=False)
df

         session_id     From Name  agent_id Type message         Date Create
0  fm_6661eccaea742  Ismail Fikri      5178   IN   image 2024-06-07 00:07:22

### Email

In [8]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import re

col = [
'session_id',
'From Email',
'agent_id',
'Agent Name',
'Type',
'message_html',
'Date Created']


path=r"C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\omni\interaction_email.xlsx"
df=pd.read_excel(path)
df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)

columns_to_convert = ['Date Created']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)


df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['Date Created']))
enddate = pd.Timestamp(max(df['Date Created']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_email_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
def html_to_text(html):
    if pd.isna(html):
        return ""
    soup = BeautifulSoup(html, "html.parser")
    text = soup.get_text()
    text = re.sub(r'\n+', '\n', text)
    text = text.strip()
    return text

df['message_text'] = df['message_html'].apply(html_to_text)
df = df.drop(columns=['message_html'])
df.to_csv(filename, index=False)
df

,session_id,From Email,agent_id,Agent Name,Type,Date Created,message_text
0,em_663fa453b84c5,reply@e.ktvu.com,7594,,IN,2024-05-12 00:00:56,Cute Alert! Help Name Oakland Zoo's New Giraff...

### SMS

In [15]:
import pandas as pd
import numpy as np


path=r"C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\omni\interaction_sms_history.xlsx"
df=pd.read_excel(path)

col= ['session_id',
'from_name',
'from',
'agent_id',
'action_type',
'message',
'date_create']

df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)

columns_to_convert = ['date_create']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
    
  
df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['date_create']))
enddate = pd.Timestamp(max(df['date_create']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_sms_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
df.to_csv(filename, index=False)
df

C:\Users\maste\AppData\Local\Temp\ipykernel_3228\2792447895.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('', inplace=True)

,session_id,from_name,from,agent_id,action_type,message,date_create
0,ss_e21bBEGXtct,,81545308978,,IN,Sudah kakak . Tapi ngga di proses² sampai seka...,2024-04-01 00:03:57

### For SQL files

#### FB SQL

In [48]:
import pandas as pd
import re
import numpy as np


expected_columns = ['id', 'session_id', 'conv_id', 'from', 'from_name', 'agent_id', 'action_type', 'message', 'message_type', 'media', 'date_create', 'read', 'send', 'response_time', 'upd', 'lup']

# Function to parse SQL insert statements with enhanced handling
def parse_sql_inserts(sql_data):
    insert_pattern = re.compile(r"INSERT INTO `interaction_messenger_history` VALUES \((?P<values>.+?)\);", re.DOTALL)
    matches = insert_pattern.findall(sql_data)

    data = []
    for values_str in matches:
        values = re.split(r",(?=(?:[^\']*\'[^\']*\')*[^\']*$)", values_str)
        values = [val.strip().strip("'") for val in values]
        values = [val.replace("\\n", "\n").replace('\"', '"') for val in values]  # Handle newline characters and escape sequences
        data.append(dict(zip(expected_columns, values)))

    return data

sql_file_path = r"C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\omni\interaction_messenger_history.sql"
with open(sql_file_path, 'r', encoding='utf-8') as file:
    sql_data = file.read()


parsed_data = parse_sql_inserts(sql_data)


df_sql = pd.DataFrame(parsed_data)


for col in expected_columns:
    if col not in df_sql.columns:
        df_sql[col] = None

# Reorder columns to match the expected output
df_sql = df_sql[expected_columns]


df_sql.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')


for col in df_sql.columns:
    df_sql[col] = df_sql[col].astype(str, errors='ignore')


def is_valid_date_format(date_str):
    try:
        pd.to_datetime(date_str)
        return True
    except ValueError:
        return False

date_columns = ['date_create', 'response_time']
for col in date_columns:
    invalid_dates = df_sql[~df_sql[col].apply(is_valid_date_format)]
    print(f"Invalid dates in column {col}:\n", invalid_dates)


df_sql.replace(['NULL', 'None', 'N/A', '0'], np.nan, inplace=True)
df_sql.fillna('', inplace=True)


df_sql['date_create'] = pd.to_datetime(df_sql['date_create'], errors='coerce')
df_sql['response_time'] = pd.to_datetime(df_sql['response_time'], errors='coerce')


startdate = df_sql['date_create'].min()
enddate = df_sql['date_create'].max()

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_fb_sql_{formatted_startdate}_{formatted_enddate}.csv"

corrected_csv_path = rf"C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\{filename}"
df_sql.to_csv(corrected_csv_path, index=False)
print(f"Corrected parsed data saved to {corrected_csv_path}")

Invalid dates in column date_create:
                                                       id  \
190                                                  191
198    199, 'fm_5bf52b55b60d5', '1947363098664914~88a...
203    204, 'fm_5bf52b55b60d5', '1947363098664914~88a...
306    307, 'fm_5bf53d35921be', '1922562317821204~88a...
590    591, 'fm_5bf55ceeeeb11', '2157474787630041~88a...
...                                                  ...
59100  59101, 'fm_5c3197aadebe1', '2240044126013783~8...
59507  59509, 'fm_5c3215ca1eeb9', '1815452235233135~8...
59792  59775, 'fm_5c32b4c3ae19c', '2185371724818306~8...
60221  60240, 'fm_5c3302f84507a', '970714056385837~88...
60227  60262, 'fm_5c3302f84507a', '970714056385837~88...

                                              session_id  \
190                                     fm_5bf52b55b60d5
198                                                    0
203                                                    0
306                                                 text
590                                                 text
...                                                  ...
59100                                               text
59507                                               text
59792  we\'re here to help. Let us know what we can d...
60221  mau tanya ni bisa tidak y buat internet bankin...
60227                                               text

                                                 conv_id  \
190    1947363098664914~88a0337b-e7af-4ef6-95a5-e1798...
198                                                   IN
203                                                   IN
306
590
...                                                  ...
59100
59507
59792                                               text
60221                                               text
60227

                                                    from  \
190                                     1947363098664914
198    iaa sudah jelas, cuma saya belum punya tabunga...
203                    terimakasih sudah memberi info:-)
306                                  2018-11-21 18:14:25
590                                  2018-11-21 20:37:19
...                                                  ...
59100                                2019-01-06 12:52:42
59507                                2019-01-06 21:53:19
59792                                               NULL
60221
60227                                2019-01-07 15:07:25

                                               from_name  \
190    Raveno Somantri K\'Dua Veno', 0, 'IN', 'Raveno...
198                                                 text
203                                                 text
306                                                    0
590                                                    0
...                                                  ...
59100                                                  0
59507                                                  0
59792                                2019-01-07 10:10:47
60221                                2019-01-07 14:42:48
60227                                                  0

                                                agent_id          action_type  \
190    saat ini saya hanya bisa memberikan info produ...                 text
198                                                       2018-11-21 16:59:41
203                                                       2018-11-21 17:01:30
306                                                    0                 NULL
590                                                    0                 NULL
...                                                  ...                  ...
59100                                                  0                 NULL
59507                                                  0                 NULL
59792                                                  0                    0
60221                                                  0                    0
60227                                                  0                 NULL

      message         message_type                media date_create  \
190            2018-11-21 16:54:29                    0           0
198         0                    0                 NULL        NULL
203         0                    0                 NULL        NULL
306      NULL  2018-11-21 18:14:29                 NULL        NULL
590      NULL  2018-11-21 20:37:23                 NULL        NULL
...       ...                  ...                  ...         ...
59100    NULL  2019-01-06 12:52:49                 NULL        NULL
59507    NULL  2019-01-06 21:53:26                 NULL        NULL
59792    NULL                 NULL  2019-01-07 10:10:54        NULL
60221    NULL                 NULL  2019-01-07 14:42:55        NULL
60227    NULL  2019-01-07 15:07:32                 NULL        NULL

                      read  send        response_time   upd   lup
190                   NULL  NULL  2018-11-21 16:54:33  NULL  NULL
198    2018-11-21 16:59:45  NULL                 NULL  NULL   nan
203    2018-11-21 17:01:34  NULL                 NULL  NULL   nan
306                   NULL   nan                  nan   nan   nan
590                   NULL   nan                  nan   nan   nan
...                    ...   ...                  ...   ...   ...
59100                 NULL   nan                  nan   nan   nan
59507                 NULL   nan                  nan   nan   nan
59792                 NULL  NULL                  nan   nan   nan
60221                 NULL  NULL                  nan   nan   nan
60227                 NULL   nan                  nan   nan   nan

[532 rows x 16 columns]
Invalid dates in column response_time:
           id        session_id  \
0          1  fm_5bf517f3a8834
1          2  fm_5bf517fa8f83c
2          3  fm_5bf517f3a8834
3          4  fm_5bf517f3a8834
4          5  fm_5bf517f3a8834
...      ...               ...
60691  60700  fm_5c339af9551d5
60692  60701  fm_5c339af9551d5
60693  60702  fm_5c339af9551d5
60694  60703  fm_5c339af9551d5
60695  60704  fm_5c33bf19afed7

                                                 conv_id              from  \
0      2053788084660579~88a0337b-e7af-4ef6-95a5-e1798...  2053788084660579
1      1666450473460874~88a0337b-e7af-4ef6-95a5-e1798...  1666450473460874
2      2053788084660579~88a0337b-e7af-4ef6-95a5-e1798...  2053788084660579
3      2053788084660579~88a0337b-e7af-4ef6-95a5-e1798...  2053788084660579
4      2053788084660579~88a0337b-e7af-4ef6-95a5-e1798...  2053788084660579
...                                                  ...               ...
60691  1989847871133441~88a0337b-e7af-4ef6-95a5-e1798...  1989847871133441
60692  1989847871133441~88a0337b-e7af-4ef6-95a5-e1798...
60693  1989847871133441~88a0337b-e7af-4ef6-95a5-e1798...  1989847871133441
60694  1989847871133441~88a0337b-e7af-4ef6-95a5-e1798...
60695  2573340822706497~88a0337b-e7af-4ef6-95a5-e1798...  2573340822706497

                  from_name agent_id action_type  \
0              Adie Suryana        0          IN
1         Yustika Sipahutar        0          IN
2              Adie Suryana        0          IN
3              Adie Suryana        0          IN
4              Adie Suryana        0          IN
...                     ...      ...         ...
60691     Kurniawan Landack        0          IN
60692  Erlangga Kurniawan Y      178         OUT
60693     Kurniawan Landack        0          IN
60694  Erlangga Kurniawan Y      178         OUT
60695             Nunung Oi        0          IN

                                                 message message_type media  \
0      Adie Suryana:Maaf pa sarat\" Buat kartu kredit...         text
1      Yustika Sipahutar:Mau tanya kalau atm kadaluar...         text
2                                                     Ok         text
3      Buku tabungan saya hilang buku tabungan nya sa...         text
4                      Saya sekarang domisili di jakarta         text
...                                                  ...          ...   ...
60691        Supaya internet banking saya Bisa digunakan         text
60692  Mohon maaf registrasi ulang layanan Internet B...         text  NULL
60693  Oke Terima kasih waktunya sudah membantu.... ?...         text
60694  Dengan senang hati. Terima kasih telah menghub...         text  NULL
60695  Nunung Oi:Lewat info mutasi katanya bisa ya..\...         text

               date_create read send response_time   upd                  lup
0      2018-11-21 15:31:47    0    0          NULL  NULL  2018-11-21 15:31:51
1      2018-11-21 15:31:54    0    0          NULL  NULL  2018-11-21 15:31:58
2      2018-11-21 15:32:09    0    0          NULL  NULL  2018-11-21 15:32:12
3      2018-11-21 15:32:48    0    0          NULL  NULL  2018-11-21 15:32:52
4      2018-11-21 15:32:57    0    0          NULL  NULL  2018-11-21 15:33:01
...                    ...  ...  ...           ...   ...                  ...
60691  2019-01-08 01:49:11    0    0          NULL  NULL  2019-01-08 01:49:18
60692  2019-01-08 01:51:04    0    0          NULL  NULL  2019-01-08 01:51:07
60693  2019-01-08 01:52:40    0    0          NULL  NULL  2019-01-08 01:52:47
60694  2019-01-08 01:53:15    0    0          NULL  NULL  2019-01-08 01:53:23
60695  2019-01-08 04:05:29    0    0          NULL  NULL  2019-01-08 04:05:36

[60469 rows x 16 columns]
Corrected parsed data saved to C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\omni_fb_sql_20181121_20190108.csv

# Zendesk

In [17]:
import pandas as pd
import csv
import os

directory_path = r"C:\Users\maste\Downloads\dataloader_v60.0.2\data check\new as per 5 June\test_zendesk"
output_folder = r"C:\Users\maste\Downloads\dataloader_v60.0.2\new as per 5 June\test zendesk"

# Create the output folder if it doesn't exist
os.makedirs(output_folder, exist_ok=True)


file_list = [f for f in os.listdir(directory_path) if f.endswith('.csv')]

for file_name in file_list:
    file_path = os.path.join(directory_path, file_name)
    with open(file_path, 'r', newline='') as file:
        reader = csv.reader(file, delimiter=',', quotechar='"')
        rows = [row for row in reader]

    split_rows = []
    for row in rows:
        split_row = row[0].split(',') + row[1:]
        split_rows.append(split_row)

    df = pd.DataFrame(split_rows[1:], columns=split_rows[0])

    df.columns = df.columns.str.replace('"', '')
    df = df.replace('"', '', regex=True)
    date_columns= ['Requester created - Timestamp','Ticket created - Timestamp','Ticket solved - Timestamp']
    for col in date_columns:
        df[col] = pd.to_datetime(df[col]).dt.strftime('%Y-%m-%d %H:%M:%S')
    df=df.drop('Tickets',axis=1)

    df = df[df['Ticket channel'] != 'Instagram Direct']

    mapping_sets = [
        {'Any channel': 'Instagram'}
    ]
    mapping = {}
    for mapping_set in mapping_sets:
        mapping.update(mapping_set)


    def apply_mapping(value):
        return mapping.get(value, value)
    df = df.applymap(apply_mapping)

    startdate = pd.Timestamp(min(df['Ticket created - Timestamp']))
    enddate = pd.Timestamp(max(df['Ticket created - Timestamp']))
    formatted_startdate = startdate.strftime('%Y%m%d')
    formatted_enddate = enddate.strftime('%Y%m%d')

    filename = f"zendesk_{formatted_startdate}_{formatted_enddate}_{file_name}"
    output_file_path = os.path.join(output_folder, filename)
    df.to_csv(output_file_path, index=False)

C:\Users\maste\AppData\Local\Temp\ipykernel_3228\2839367595.py:46: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(apply_mapping)

## Zendesk : How to Extract the bricare_id (not used anymore)

In [6]:
import pandas as pd
import re

# Sample data
data = {
    'Ticket ID': ['TTB001', 'TTB002', 'TTB003', 'TTB004', 'TTB005'],
    'Details': [
        'TT Zendesk: 2533068',
        'TT Zendesk  Ticket #2480057',
        'TT Zendesk  #2483681',
        'Zendesk : Ticket #2477717',
        'TT Zendesk  Ticket #2485228'
    ]
}

df = pd.DataFrame(data)

# path=r"C:\Users\maste\Downloads\dataloader_v60.0.2\output\exp_51.csv"
# df=pd.read_csv(path)


def extract_number(detail):
    match = re.search(r'Zendesk.*?(\d{7})', detail)
    if match:
        return match.group(1)
    return None


df['bricare_id'] = df['Details'].apply(extract_number)

df.dropna(inplace=True)
df

  Ticket ID                      Details bricare_id
0    TTB001          TT Zendesk: 2533068    2533068
1    TTB002  TT Zendesk  Ticket #2480057    2480057
2    TTB003         TT Zendesk  #2483681    2483681
3    TTB004    Zendesk : Ticket #2477717    2477717
4    TTB005  TT Zendesk  Ticket #2485228    2485228