# Omni

## Omni has 3 types of files:
- WhatsApp
- Facebook Messenger
- Email

### WhatsApp

We just need to convert the datetime format and also remova all values "-"

In [25]:
import pandas as pd
import numpy as np

path=r"C:\Users\maste\Downloads\Omni\interaction_whatsapp_history.xlsx"
df=pd.read_excel(path)

col= ['session_id',
'From Name',
'agent_id',
'Agent Name',
'Type',
'message',
'Date Create']


df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)


columns_to_convert = ['Date Create']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
    
df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['Date Create']))
enddate = pd.Timestamp(max(df['Date Create']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_wa_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
df.to_csv(filename, index=False)
df

,session_id,From Name,agent_id,Agent Name,Type,message,Date Create
0,wa_66390d1d68504,gempil,1101,,IN,# Request From Bot,2024-05-07 00:02:21
1,wa_66390d1d68504,gempil,1101,,IN,# Close From Bot,2024-05-07 00:02:27
2,wa_66390d445c06e,P Info,7528,,IN,# Request From Bot,2024-05-07 00:03:00
3,wa_66390d445c06e,Christina,7528,,IN,# Close From Bot,2024-05-07 00:03:09
4,wa_66390cbec99c1,Sugandy,5183,,IN,# Request From Bot,2024-05-07 00:00:46
...,...,...,...,...,...,...,...
145201,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,Terima kasih atas kesediaan menunggu. Kami tur...,2024-05-08 14:28:28
145202,wa_663b269a9135e,Rahmat,7614,,IN,terima kasih,2024-05-08 14:30:37
145203,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,Dengan senang hati. Ada hal lain yang dapat ka...,2024-05-08 14:30:47
145204,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,Kami masih menunggu respons dari Sobat BRI.,2024-05-08 14:33:05
145205,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,"Sobat BRI Rahmat, semoga kedepannya tidak terj...",2024-05-08 14:36:09

### Facebook messenger

In [27]:
import pandas as pd

col = ['session_id',
'from',
'from_name',
'agent_id',
'action_type',
'message',
'date_create']

path=r"C:\Users\maste\Downloads\Omni\messenger history bri.xlsx"
df=pd.read_excel(path)
df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)

columns_to_convert = ['date_create']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
    
  
df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['date_create']))
enddate = pd.Timestamp(max(df['date_create']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_messenger_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
df.to_csv(filename, index=False)
df

C:\Users\maste\AppData\Local\Temp\ipykernel_13300\1122932632.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('', inplace=True)

,session_id,from,from_name,agent_id,action_type,message,date_create
0,fm_66099558df0cc,ON4,Yusuf Rohhmadi,1101,OUT,Mohon maaf karena tidak ada respons dari Sobat...,2024-04-01 00:00:32
1,fm_660994841446f,ON4,Yusuf Rohhmadi,1101,OUT,Saya masih menunggu respons dari Sobat. Ada ha...,2024-04-01 00:01:06
2,fm_660994841446f,ON4,Yusuf Rohhmadi,1101,OUT,Semoga laporan yang dibuat lancar dan segera t...,2024-04-01 00:04:26
4,fm_660996eac3590,ON4,Yusuf Rohhmadi,1101,OUT,"Hai Sobat BRI Ahmad, terima kasih telah menggu...",2024-04-01 00:01:41
5,fm_660996eac3590,ON4,Yusuf Rohhmadi,1101,OUT,v,2024-04-01 00:04:13
...,...,...,...,...,...,...,...
212320,fm_66311dd225b38,ON4,Arif Rahmat Hidayat,5150,OUT,"Hai Sobat BRI BRI Wyn, terima kasih telah meng...",2024-04-30 23:55:07
212321,fm_66311dd225b38,ON4,Arif Rahmat Hidayat,5150,OUT,Saya masih menunggu respons dari Sobat BRI Wyn.,2024-04-30 23:59:04
212327,fm_66311dbc65734,ON4,Dwiyantoro Aji P,244,OUT,"Hai Sobat BRI Sepriyanto Nugroho, terima kasih...",2024-04-30 23:55:58
212328,fm_66311dbc65734,ON4,Dwiyantoro Aji P,244,OUT,Mohon maaf atas kendala Log In BRImo yang dial...,2024-04-30 23:56:19
212331,fm_66311dbc65734,ON4,Dwiyantoro Aji P,244,OUT,Bisa diinformasikan respons gagal yang tampil ...,2024-04-30 23:58:48

### Email

In [33]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import re

col = ['Nomor',
'session_id',
'From Email',
'agent_id',
'Agent Name',
'Type',
'message_html',
'Date Created']


path=r"C:\Users\maste\Downloads\Omni\interaction_email2.xlsx"
df=pd.read_excel(path)
df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)

columns_to_convert = ['Date Created']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)


df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['Date Created']))
enddate = pd.Timestamp(max(df['Date Created']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_email_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
def html_to_text(html):
    if pd.isna(html):
        return ""
    soup = BeautifulSoup(html, "html.parser")
    text = soup.get_text()
    text = re.sub(r'\n+', '\n', text)
    text = text.strip()
    return text

df['message_text'] = df['message_html'].apply(html_to_text)
df = df.drop(columns=['message_html'])
df.to_csv(filename, index=False)
df

,Nomor,session_id,From Email,agent_id,Agent Name,Type,Date Created,message_text
0,1,em_663fa453b84c5,reply@e.ktvu.com,7594,,IN,2024-05-12 00:00:56,Cute Alert! Help Name Oakland Zoo's New Giraff...
1,2,em_663fa453b84c5,,7594,Dimas Bangun Budiarto,OUT,2024-05-12 00:11:56,
2,3,em_663fa4422e634,abdulpinggir741@gmail.com,7583,,IN,2024-05-12 00:00:27,Brimo saya kena blokir
3,4,em_663fa4422e634,,7583,Rifqi Mukhoyar,OUT,2024-05-12 00:13:18,Kepada Yth.Bapak Abdul PinggirTerima kasih ata...
4,5,em_663fa46f525ec,mpiw44@gmail.com,7594,,IN,2024-05-12 00:01:13,"Selamat malam, mau tanya soal buka blokiran BR..."
...,...,...,...,...,...,...,...,...
6164,6165,em_6640f412d73d2,,4003,Andri Gunawan,OUT,2024-05-13 00:19:10,Kepada Yth.Bapak Indra YustiantoTerima kasih a...
6165,6166,em_6640f55ebe904,muhammadhidayat130690@gmail.com,7583,,IN,2024-05-12 23:58:50,"BRIMOPada Min, 12 Mei 2024 23.58, Muhammad Hid..."
6166,6167,em_6640f55ebe904,,7583,Rifqi Mukhoyar,OUT,2024-05-13 00:20:43,"Selamat pagi Yth. Bapak Muhammad Hidayat,Terka..."
6167,6168,em_6640f541d00dd,muhammadhidayat130690@gmail.com,5183,,IN,2024-05-12 23:58:20,"Katanya ada gagauan ya pak ,,,saya coba lpa pa..."
6168,6169,em_6640f541d00dd,,5183,Fandi Suhendar,OUT,2024-05-13 00:21:51,"Selamat pagi Yth. Bapak Muhammad Hidayat,Terka..."

# Testing
Take one line out of it

In [4]:
import pandas as pd


#WA
path='D:\dataquality\omni_wa_20240507_20240508.csv'
df=pd.read_csv(path)
df=df.iloc[:1]
df['from']='0871235678912'
df.to_csv('onmi_1WA_sit.csv', index=False)


#Email
path2='D:\dataquality\omni_email_20240408_20240513.csv'
df2=pd.read_csv(path2)
df2=df2.iloc[:1]
df2.to_csv('onmi_1Email_sit.csv', index=False)

# Zendesk

In [1]:
import pandas as pd
import openpyxl 


pd.set_option('display.max_columns', None)
# path=r"C:\Users\maste\Downloads\Data Zendesk.csv"
path=r"C:\Users\maste\Downloads\RPA_Report_1_05072024_0802.xlsx"
df=pd.read_excel(path)


# Change the datetime format

date_columns= ['Requester created - Timestamp','Ticket created - Timestamp','Ticket solved - Timestamp']
for col in date_columns:
    df[col] = pd.to_datetime(df[col]).dt.strftime('%Y-%m-%d %H:%M:%S')

# Remove the Ticket Column
df=df.drop('Tickets',axis=1)


#Filter out all data with values "Instagram Direct"
filtered_df = df[df['Ticket channel'] == 'Instagram Direct']
# 256 rows

#Remove all lines without "Instagram Direct"
filtered_df2 = df[df['Ticket channel'] != 'Instagram Direct']


#Define Mapping sets
mapping_sets = [
    {'Any channel': 'Instagram'}
]

# Merge all mapping sets into a single dictionary
mapping = {}
for mapping_set in mapping_sets:
    mapping.update(mapping_set)

# Function to apply mapping
def apply_mapping(value):
    return mapping.get(value, value)
df = filtered_df2.applymap(apply_mapping)
df.to_csv("zendesk.csv",index=False)

c:\Users\maste\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\maste\AppData\Local\Temp\ipykernel_15592\1188426933.py:42: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = filtered_df2.applymap(apply_mapping)

# Do not use this since the date conversion not used

In [19]:
import pandas as pd
import pytz
from datetime import timedelta


path=r"D:\dataquality\Zendesk.csv"
df=pd.read_csv(path)
df["bricare_id"]="234567"
local_tz = pytz.timezone('Asia/Jakarta')

def round_to_nearest_quarter_hour(time):
    discard = timedelta(minutes=time.minute % 15,
                        seconds=time.second,
                        microseconds=time.microsecond)
    time -= discard
    if discard >= timedelta(minutes=7.5):
        time += timedelta(minutes=15)
    return time


# df['Ticket created - Timestamp'] = pd.to_datetime(df['Ticket created - Timestamp'])
# df['Ticket created - Timestamp'] = df['Ticket created - Timestamp'].apply(round_to_nearest_quarter_hour)
# df['Ticket created - Timestamp'] = df['Ticket created - Timestamp'].dt.tz_localize(local_tz).dt.tz_convert('UTC').dt.strftime('%Y-%m-%dT%H:%M:%SZ')
df.iloc[:1].to_csv("zendesk_oneline.csv", index=False)
df.iloc[:1]

,Ticket ID,Ticket channel,Assignee ID,Assignee name,Requester ID,Requester name,Ticket subject,Requester created - Timestamp,Ticket created - Timestamp,Ticket solved - Timestamp,bricare_id
0,3777302,Facebook,19918762073497,Agent Socmed 5,32077763614745,E Sae,bikin brimo yg kblokir bsa gk y?,2024-05-06 00:02:21,2024-05-06 00:02:21,2024-05-06 00:05:22,234567