## Detail Column of Data 2023 for BRICARE

In [43]:
import pandas as pd

def process_text_data(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        lines = file.readlines()

    entries = []
    current_entry = []
    current_ticket_id = None

    for line in lines:
        if line.startswith('TTB'):
            if current_entry:  # If there's collected content, append it with the Ticket ID
                entries.append((current_ticket_id, '\n'.join(current_entry)))
                current_entry = []
            # Extract Ticket ID and the part after the third comma
            parts = line.split(',', 3)
            if len(parts) > 3:
                current_ticket_id = parts[0]  # Store the Ticket ID
                current_entry.append(parts[3].strip())  # Start collecting the entry content
            continue
        current_entry.append(line.strip())

    # Add the last collected entry if any
    if current_entry:
        entries.append((current_ticket_id, '\n'.join(current_entry)))

    return entries

# To remove all occurrences of the Byte Order Mark (\ufeff) 
def remove_bom_and_strip(df):
    return df.applymap(lambda x: x.replace('\ufeff', '').strip() if isinstance(x, str) else x)


# Path to your text file
file_path = r"C:\Users\maste\Downloads\bricare_case_januari2023_2_details.txt"
processed_data = process_text_data(file_path)

# Create a DataFrame from the processed data
df_final = pd.DataFrame(processed_data, columns=['Ticket ID', 'Details'])


if df_final.iloc[0]['Ticket ID'] and df_final.iloc[0]['Details'].startswith(df_final.iloc[0]['Ticket ID']):
    # Remove the Ticket ID and any two characters before it from the details
    df_final.at[0, 'Details'] = df_final.iloc[0]['Details'][len(df_final.iloc[0]['Ticket ID'])+2:]

# Save the DataFrame to a CSV file
df_final.to_csv('exp_5.csv', index_label='Index')

df_final.head()  # Display the first few rows to check the output

         Ticket ID                                            Details
0             None  ﻿TTB000043833835,8701,Blokir Kartu ATM karena ...
1  TTB000043833951  #BRILINKMOB\n\nDATA outlet BRILINK\nKode Outle...
2  TTB000043833734  #CALL TERPUTUS\n\nif ch call back ,layanan IB ...
3  TTB000043833965  Nasabah gagal melakukan transaksi tarik tunai ...
4  TTB000043833833  ch infokan melakukan registrasi brimo, namun m...

In [13]:
import pandas as pd

def process_text_data(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        lines = file.readlines()

    # Remove BOM from each line
    lines = [line.replace('\ufeff', '') for line in lines]

    entries = []
    current_entry = []
    current_ticket_id = None

    for line in lines:
        if line.startswith('TTB'):
            if current_entry:  # If there's collected content, append it with the Ticket ID
                entries.append((current_ticket_id, '\n'.join(current_entry)))
                current_entry = []
            # Extract Ticket ID and the part after the third comma
            parts = line.split(',', 3)
            if len(parts) > 3:
                current_ticket_id = parts[0]  # Store the Ticket ID
                current_entry.append(parts[3].strip())  # Start collecting the entry content
            continue
        current_entry.append(line.strip())

    # Add the last collected entry if any
    if current_entry:
        entries.append((current_ticket_id, '\n'.join(current_entry)))

    return entries

# To remove all occurrences of the Byte Order Mark (\ufeff) 
def remove_bom_and_strip(df):
    return df.applymap(lambda x: x.replace('\ufeff', '').strip() if isinstance(x, str) else x)

# Path to your text file
file_path = r"C:\Users\maste\Downloads\bricare_case_januari2023_2_details.txt"
processed_data = process_text_data(file_path)

# Create a DataFrame from the processed data
df_final = pd.DataFrame(processed_data, columns=['Ticket ID', 'Details'])

if df_final.iloc[0]['Ticket ID'] and df_final.iloc[0]['Details'].startswith(df_final.iloc[0]['Ticket ID']):
    # Remove the Ticket ID and any two characters before it from the details
    df_final.at[0, 'Details'] = df_final.iloc[0]['Details'][len(df_final.iloc[0]['Ticket ID'])+2:]

# Save the DataFrame to a CSV file
# df_final.iloc[:10].to_csv('exp_51.csv', index_label='Index')
df_final.to_csv('exp_51.csv', index_label='Index')
df_final.head(10)

         Ticket ID                                            Details
0  TTB000043833835  Nasabah mengajukan pemblokiran kartu ATM BRI\n...
1  TTB000043833951  #BRILINKMOB\n\nDATA outlet BRILINK\nKode Outle...
2  TTB000043833734  #CALL TERPUTUS\n\nif ch call back ,layanan IB ...
3  TTB000043833965  Nasabah gagal melakukan transaksi tarik tunai ...
4  TTB000043833833  ch infokan melakukan registrasi brimo, namun m...
5  TTB000043833961  #Ch terputus\n\nNasabah mengajukan pemblokiran...
6  TTB000043833968  Nasabah gagal melakukan transaksi tarik tunai ...
7  TTB000043833831  limitasi, penyetoran, no rekening tujuan,Nasab...
8  TTB000043833996  Nasabah gagal melakukan transaksi setor tunai ...
9  TTB000043833840  #BRILink\nKode TID BRILink\t: 26064156\nKode M...

## Modify the first line

In [52]:
import pandas as pd

# Load the dataset
data = pd.read_csv('D:\dataquality\exp_5.csv', encoding='utf-8-sig')  # Handles any encoding issues like BOM

# Initialize a list to store processed data
processed_data = []

# Process the first line
first_line = data.loc[0, 'Details']
ticket_id_first_line = first_line.split(',')[0]
content_after_third_comma_first_line = ','.join(first_line.split(',')[3:]) if len(first_line.split(',')) > 3 else None
processed_data.append({'Ticket ID': ticket_id_first_line, 'Details': content_after_third_comma_first_line})

# Process the rest of the lines normally
for index, row in data.iterrows():
    if index == 0:  # Skip the first line as it is already processed
        continue
    if pd.notna(row['Ticket ID']) and row['Ticket ID'].startswith('TTB'):
        content_parts = row['Details'].split(',')
        processed_content = ','.join(content_parts[3:]) if len(content_parts) > 3 else row['Details']
    else:
        processed_content = row['Details']  # Keep the original content if not starting with TTB
    processed_data.append({'Ticket ID': row['Ticket ID'], 'Details': processed_content})

# Create a DataFrame from the processed data
result_df = pd.DataFrame(processed_data)

# Clean the Ticket_ID Column
result_df['Ticket ID'] = result_df['Ticket ID'].apply(lambda x: x.replace('\ufeff', '').strip())


result_df=result_df.iloc[:10]


# Save the file
# result_df.to_csv('exp_6.csv', index=False)
# result_df.to_csv('detail_bricare_10line.csv', index=False)

result_df

         Ticket ID                                            Details
0  TTB000043833835  Nasabah mengajukan pemblokiran kartu ATM BRI\n...
1  TTB000043833951  #BRILINKMOB\n\nDATA outlet BRILINK\nKode Outle...
2  TTB000043833734    , nomor tt\n\n\n\nNasabah mengajukan pemblok...
3  TTB000043833965  Nasabah gagal melakukan transaksi tarik tunai ...
4  TTB000043833833  ch infokan melakukan registrasi brimo, namun m...
5  TTB000043833961  #Ch terputus\n\nNasabah mengajukan pemblokiran...
6  TTB000043833968  Nasabah gagal melakukan transaksi tarik tunai ...
7  TTB000043833831  Nasabah menanyakan status mutasi Rekening kare...
8  TTB000043833996  Nasabah gagal melakukan transaksi setor tunai ...
9  TTB000043833840  #BRILink\nKode TID BRILink\t: 26064156\nKode M...

## Data 2023 and after

In [1]:
import pandas as pd
import re
import numpy as np

# 78 Columns
column_names = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", "Nama_Nasabah", 
    "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", "Chanel", "Fitur", "Nomor_Kartu", 
    "user_group", "assgined_to", "attachment_done", "email", "full_name", "no_telepon", "approver_login", 
    "approver_name", "SLAResolution", "submitter_login_id", "submitter_user_group", "user_login_name", 
    "Jenis_Produk", "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", "TID", 
    "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", "Bank_BRI", 
    "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", "Hasil_Kunjungan", "Log_Name", 
    "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", 
    "Notify_By", "Organization", "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", 
    "Settlement_ID", "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
    "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", "Tgl_In_Progress", 
    "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", "UniqueID", "users", "Usergroup_ID"
]

def parse_file(file_path):
    # Initialize a list to hold the parsed data
    data = []
    date_pattern = re.compile(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}')

    with open(file_path, 'r', encoding='utf-8-sig') as file:
        for line in file:
            parts = line.strip().split(';')
            # Find the index of the first date (fourth column in your description)
            date_index = next(i for i, part in enumerate(parts) if date_pattern.match(part))

            # Extract columns
            ticket_id = parts[0] 
            call_type_id = parts[1]  
            description = ';'.join(parts[2:date_index])  # Third column, concatenating all parts up to the date
            create_date = parts[date_index]  # Fourth column, the first date found

      
            data.append([ticket_id, call_type_id, description, create_date] + parts[date_index + 1:])


    df = pd.DataFrame(data, columns=column_names)

    # Date
    df['Create_Date'] = pd.to_datetime(df['Create_Date'], errors='coerce', format='%Y-%m-%d %H:%M:%S.%f')

    return df


# file_path = r"C:\Users\maste\Downloads\bricare_case_januari2023_1masking.txt"

# file_path = r"C:\Users\maste\Downloads\bricare_case_januari2023_1masking.txt"
# file_path=r"C:\Users\maste\Downloads\bricare\BRICARE_25042024 masking.txt"
df = parse_file(file_path)

# Replace 'NULL', 'N/A' and None with NaN
df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df = df.replace(['0', 0], '')

#Convert the cols into Datetime
columns_to_convert = ['TanggalClosed', 'tanggalTransaksi','Modified_Date','tanggalAttachmentDone','Tgl_Assigned','Tgl_Eskalasi','Tanggal_Settlement','Tgl_Foward','Tgl_In_Progress','Tgl_Returned']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')
     # Replace NaT with an empty string
    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
   
# clean the Ticket_ID Column
df['Ticket_ID'] = df['Ticket_ID'].apply(lambda x: x.replace('\ufeff', '').strip())

# # Picklist mapping
# mapping_sets = [
#     {
#         'Yes': 'TRUE',
#         'No': 'FALSE'
#     },
#     {
#         "Sms": "SMS",
#         "ËDC & Brilink": "EDC",
#         "Brilink": "BRILink",
#         "In Progress": "Working",
#         "Not Used": "Disconnected",
#         "Cancel": "Cancelled",
#         "Tabungan": "Savings",
#         "Platinum": "Investment",
#         "Easy Card": "Loans",
#         "JBC": "Loans",
#         "Co Brand Hana Platinum": "Loans",
#         "Informasi Produk": "Layanan",
#         "Briguna": "Loans",
#         "Visa Touch": "Loans",
#         "Kartu Kredit": "Loans",
#         "Kliring": "Transaction Banking",
#         "Brizzi": "Layanan",
#         "People": "Layanan",
#         "Pinjaman": "Loans",
#         "Maintenance": "Request",
#         "Information": "Products / Promotion Inquiry",
#         "Complain": "Complaint - Transaction",
#         "Simpanan": "Tabungan (SA)",
#         "Pinjaman": "KTA (Personal Loan)",
#         "CERIA": "KTA - Digital",
#         "Kartu Kredit": "Kartu Kredit (Credit Card)",
#         "Layanan": "Layanan CCT"
#     }
# ]
# mapping = {}
# for mapping_set in mapping_sets:
#     mapping.update(mapping_set)

# # Function to apply mapping
# def apply_mapping(value):
#     return mapping.get(value, value)

# # df = df.applymap(apply_mapping)
# # pd.set_option('display.max_columns', None)

# df['Call_Type_ID']='a1DMR00000008iL2AQ'
# df['Last_Modified_By']='005MR0000004GJ7'
# Display
# df.to_csv("tenline_bricare.csv",index=False)
df

StopIteration:

## Merging the files

In [6]:
import pandas as pd

# Load the two CSV files
file_path_1 = r"D:\dataquality\tenline_bricare.csv"
file_path_2 = r"D:\dataquality\detail_bricare_10line.csv"

# Read the CSV files into DataFrames
df_tenline_bricare = pd.read_csv(file_path_1)
df_detail_bricare_10line = pd.read_csv(file_path_2)

# Rename columns in detail_bricare_10line for consistency if necessary
df_detail_bricare_10line.columns = ['Ticket_ID', 'Details']

# Merge the DataFrames on the Ticket_ID column
merged_df = pd.merge(df_tenline_bricare, df_detail_bricare_10line, on='Ticket_ID', how='left')

# Save the merged DataFrame to a new CSV file
output_file_path = r"D:\dataquality\merged_bricare.csv"


# Move the Details columns in the 4th position
column_to_move="Details"
merged_df = merged_df[[col for col in merged_df if col != column_to_move][:3] + [column_to_move] + [col for col in merged_df if col != column_to_move][3:]] 

merged_df.iloc[:100000].to_csv(output_file_path, index=False)

## create a data 100k

In [7]:
import pandas as pd

# Specify the input file path and the output file path
input_file_path = r"C:\Users\maste\Downloads\bricare\merged_bricare2.csv"
output_file_path = r"C:\Users\maste\Downloads\bricare\merged_bricare3.csv"

# Read the CSV file with one row
df = pd.read_csv(input_file_path)

# Specify the number of rows you want in the output file
num_rows = 100000  # You can change this number to the desired number of rows

# Replicate the row to create the desired number of rows
df_replicated = pd.concat([df] * num_rows, ignore_index=True)

# Save the new DataFrame to a CSV file
df_replicated.to_csv(output_file_path, index=False)

print(f"DataFrame with {num_rows} rows has been created and saved to {output_file_path}.")

DataFrame with 100000 rows has been created and saved to C:\Users\maste\Downloads\bricare\merged_bricare3.csv.

## Data before 2023

In [14]:
import pandas as pd


column_list = [
    "Ticket_ID",  
    "Call_Type_ID",  
    "Call_Type", 
    "Create_Date",  
    "gateway",  
    "Jenis_Laporan",  
    "Nama_Nasabah",  
    "No_Rekening", 
    "Nominal",  
    "status",  
    "TanggalClosed", 
    "tanggalTransaksi",  
    "Chanel",  
    "Fitur",  
    "Nomor_Kartu", 
    "user_group",  
    "assgined_to",  
    "attachment_done",  
    "email",  
    "full_name",  
    "no_telepon",  
    "approver_login",  
    "approver_name",  
    "SLAResolution",  
    "submitter_login_id",  
    "submitter_user_group", 
    "user_login_name"  
]

path=r"C:\Users\maste\Downloads\BRICARE_25042024 masking.csv"
data=pd.read_csv(path, delimiter=';')





# Convert Column1 to string if not already, and apply the regex filter for "TTB" followed by numbers
data['Column1'] = data['Column1'].astype(str)
data_cleaned = data[data['Column1'].str.match(r'TTB\d+')]

# Ensure Column2 is an integer type and contains exactly four digits
data_cleaned['Column2'] = data_cleaned['Column2'].astype(str)
data_cleaned = data_cleaned[data_cleaned['Column2'].str.match(r'^\d{4}$')]

# Ensure all entries in Column4 can be converted to datetime and filter out those that can't
data_cleaned['Column4'] = pd.to_datetime(data_cleaned['Column4'], errors='coerce')
data_cleaned = data_cleaned.dropna(subset=['Column4'])

# Drop Column 28-32
data_to_drop=['Column28','Column29','Column30','Column31','Column32']
data_cleaned=data_cleaned.drop(columns=data_to_drop)

# Display the cleaned data again
# data_to_show=['Column28','Column29','Column30','Column31','Column32']
# data_cleaned=data_cleaned[data_to_show]

# Check all column containing NaN
# data_cleaned=data_cleaned.dropna()
# data_cleaned

# data_cleaned.columns = column_list[:len(data_cleaned.columns)]
    
if len(data_cleaned.columns) <= len(column_list):
    data_cleaned.columns = column_list[:len(data_cleaned.columns)]

# Replace 'NULL', 'N/A' and None with NaN
data_cleaned.replace('NULL', np.nan, inplace=True)
data_cleaned.replace('None', np.nan, inplace=True)
data_cleaned.replace('N/A', np.nan, inplace=True)
data_cleaned.fillna('', inplace=True)
data_cleaned = data_cleaned.replace(['0', 0], '')

#Convert the cols into Datetime
columns_to_convert = ['TanggalClosed', 'tanggalTransaksi','Create_Date']
for column in columns_to_convert:
    data_cleaned[column] = pd.to_datetime(data_cleaned[column], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')
     # Replace NaT with an empty string
    data_cleaned[column] = data_cleaned[column].apply(lambda x: '' if pd.isna(x) else x)


data_cleaned



data_cleaned=data_cleaned.iloc[:100000]

# data_cleaned.drop('Unnamed: 0', axis=1, inplace=True)
data_cleaned.to_csv("bricare_100k_before2023.csv")

C:\Users\maste\AppData\Local\Temp\ipykernel_28432\2281168888.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['Column2'] = data_cleaned['Column2'].astype(str)

KeyError: "['Unnamed: 0'] not found in axis"

In [6]:
import pandas as pd

path=r"D:\dataquality\bricare_100k_before2023.csv"
path2=r"D:\dataquality\bricare_100k_cleaned.csv"
df=pd.read_csv(path2)
# df.drop('Unnamed: 0', axis=1, inplace=True)
# df.drop(df.columns[0], axis=1, inplace=True)
df.drop('Call_Type', axis=1, inplace=True)
df.to_csv("bricare_100k_before2023_cleaned.csv")
df.head()

C:\Users\maste\AppData\Local\Temp\ipykernel_28376\2561919537.py:5: DtypeWarning: Columns (7,14,16,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(path2)

,Ticket_ID,Call_Type_ID,Create_Date,gateway,Jenis_Laporan,Nama_Nasabah,No_Rekening,Nominal,status,TanggalClosed,...,attachment_done,email,full_name,no_telepon,approver_login,approver_name,SLAResolution,submitter_login_id,submitter_user_group,user_login_name
0,TTB000026204763,8425,2020-01-01 07:19:37,Phone,Maintenance,Arif Budi Saputra,021234567890123,0.0,Closed,2020-01-01 07:19:43,...,NaN,NaN,Really Artha Ully Manik,081234567890,NaN,NaN,20.0,90136590.0,NaN,Really Artha Ully Manik
1,TTB000026204728,8405,2020-01-01 07:19:30,Phone,Information,Arif Budi Saputra,021234567890123,0.0,Closed,2020-01-01 07:17:02,...,NaN,NaN,DELLA LARASSARI,081234567890,90022934.0,Adhi Nitidharma,20.0,90135196.0,NaN,DELLA LARASSARI
2,TTB000026204747,8202,2020-01-01 07:19:27,Phone,Information,Arif Budi Saputra,021234567890123,741700.0,Closed,2020-05-20 08:50:01,...,NaN,NaN,Kartika Fitriani,081234567890,NaN,NaN,20.0,90141079.0,LCC-CCTCALL,Kartika Fitriani
3,TTB000026204659,8812,2020-01-01 07:00:34,Phone,Information,Arif Budi Saputra,021234567890123,1000000.0,Closed,2020-01-01 07:00:29,...,NaN,NaN,AMELIA RAHMADANI,081234567890,723.0,Ismail,10.0,60443.0,LCC-CCTCALL,AMELIA RAHMADANI
4,TTB000026204577,8202,2020-01-01 07:09:29,Phone,Information,Arif Budi Saputra,021234567890123,500000.0,Closed,2020-05-20 08:47:29,...,NaN,bacuelkueh@gmail.com,Amalia Fitriana,081234567890,NaN,NaN,20.0,60422.0,LCC-CCTCALL,Amalia Fitriana

In [27]:
import pandas as pd

# Path to the original CSV file
input_file_path = r"D:\dataquality\bricare_100k_before2023.csv"

# Path to the cleaned CSV file
output_file_path = r"D:\dataquality\bricare_100k_cleaned.csv"

# Step 1: Read the CSV file as plain text with utf-8 encoding
with open(input_file_path, 'r', encoding='utf-8') as file:
    lines = file.readlines()

# If utf-8 does not work, try 'latin1' or 'cp1252'
# with open(input_file_path, 'r', encoding='latin1') as file:
#     lines = file.readlines()

# Check if lines are read correctly
print(f"Number of lines read: {len(lines)}")

# Step 2: Remove the first comma and the value before it for each line
cleaned_lines = [line.split(',', 1)[1] for line in lines]

# Step 3: Write the cleaned lines back to a new CSV file
with open(output_file_path, 'w', encoding='utf-8') as file:
    file.writelines(cleaned_lines)

# Step 4: Load the cleaned dataframe to check the result
df = pd.read_csv(output_file_path)

# Display the first few rows of the cleaned dataframe
df

Number of lines read: 100001

C:\Users\maste\AppData\Local\Temp\ipykernel_28432\4013288280.py:28: DtypeWarning: Columns (7,14,16,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(output_file_path)

,Ticket_ID,Call_Type_ID,Call_Type,Create_Date,gateway,Jenis_Laporan,Nama_Nasabah,No_Rekening,Nominal,status,...,attachment_done,email,full_name,no_telepon,approver_login,approver_name,SLAResolution,submitter_login_id,submitter_user_group,user_login_name
0,TTB000026204763,8425,Pen-delete-an Status Registrasi Layanan yang A...,2020-01-01 07:19:37,Phone,Maintenance,Arif Budi Saputra,021234567890123,0.0,Closed,...,NaN,NaN,Really Artha Ully Manik,081234567890,NaN,NaN,20.0,90136590.0,NaN,Really Artha Ully Manik
1,TTB000026204728,8405,Kartu ATM BRI Tertelan di MESIN ATM,2020-01-01 07:19:30,Phone,Information,Arif Budi Saputra,021234567890123,0.0,Closed,...,NaN,NaN,DELLA LARASSARI,081234567890,90022934.0,Adhi Nitidharma,20.0,90135196.0,NaN,DELLA LARASSARI
2,TTB000026204747,8202,Informasi Product Banking,2020-01-01 07:19:27,Phone,Information,Arif Budi Saputra,021234567890123,741700.0,Closed,...,NaN,NaN,Kartika Fitriani,081234567890,NaN,NaN,20.0,90141079.0,LCC-CCTCALL,Kartika Fitriani
3,TTB000026204659,8812,Nasabah BRI gagal tarik tunai & terdebet di AT...,2020-01-01 07:00:34,Phone,Information,Arif Budi Saputra,021234567890123,1000000.0,Closed,...,NaN,NaN,AMELIA RAHMADANI,081234567890,723.0,Ismail,10.0,60443.0,LCC-CCTCALL,AMELIA RAHMADANI
4,TTB000026204577,8202,Informasi Product Banking,2020-01-01 07:09:29,Phone,Information,Arif Budi Saputra,021234567890123,500000.0,Closed,...,NaN,bacuelkueh@gmail.com,Amalia Fitriana,081234567890,NaN,NaN,20.0,60422.0,LCC-CCTCALL,Amalia Fitriana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,TTB000026461450,1204,Aktivasi Kartu Kredit Melalui Petugas Proaktivasi,2020-01-16 15:35:11,Phone,Maintenance,MELLY AMELIA,NaN,0.0,Closed,...,NaN,NaN,Prila Puspita Handayani,085220302121,NaN,NaN,19.0,90133778.0,LCC-CCTTELE2,Prila Puspita Handayani
99996,TTB000026461198,1203,Aktivasi Kartu Kredit Melalui Call Center,2020-01-16 15:35:12,Phone,Maintenance,PENY MASDIYATI,NaN,0.0,Closed,...,NaN,NaN,ZAIN OKTARIFAH,0711580555,NaN,NaN,19.0,60469.0,LCC-CCTCALL,ZAIN OKTARIFAH
99997,TTB000026461240,2202,Permintaan blokir sementara ( blok R ),2020-01-16 15:35:55,Phone,Maintenance,WIWIT UTOPO,NaN,0.0,Closed,...,NaN,NaN,LIEDIA SEPTY VIRGIYANTI,087729151888,NaN,NaN,2.0,60018.0,LCC-CCTCALL,LIEDIA SEPTY VIRGIYANTI
99998,TTB000026461562,4214,Perubahan No HP/TLP pada Kartu Kredit Utama,2020-01-16 15:38:51,Phone,Maintenance,DEDEK SATRIANI,NaN,0.0,Closed,...,NaN,NaN,Nurul Fitriani,081929732311,NaN,NaN,11.0,90140273.0,NaN,Nurul Fitriani
99999,TTB000026461382,8425,Pen-delete-an Status Registrasi Layanan yang A...,2020-01-16 15:34:51,Phone,Maintenance,IRNALIA V HUTAURUK,538701010594533.0,0.0,Closed,...,NaN,NaN,Yusuf Sidiq,082370763306,NaN,NaN,20.0,90138132.0,NaN,Yusuf Sidiq

## Zendesk

In [1]:
import pandas as pd
import openpyxl 


pd.set_option('display.max_columns', None)
# path=r"C:\Users\maste\Downloads\Data Zendesk.csv"
path=r"C:\Users\maste\Downloads\RPA_Report_1_05072024_0802.xlsx"
df=pd.read_excel(path)


# Change the datetime format

date_columns= ['Requester created - Timestamp','Ticket created - Timestamp','Ticket solved - Timestamp']
for col in date_columns:
    df[col] = pd.to_datetime(df[col]).dt.strftime('%Y-%m-%d %H:%M:%S')

# Remove the Ticket Column
df=df.drop('Tickets',axis=1)


#Filter out all data with values "Instagram Direct"
filtered_df = df[df['Ticket channel'] == 'Instagram Direct']
# 256 rows

#Remove all lines without "Instagram Direct"
filtered_df2 = df[df['Ticket channel'] != 'Instagram Direct']


#Define Mapping sets
mapping_sets = [
    {'Any channel': 'Instagram'}
]

# Merge all mapping sets into a single dictionary
mapping = {}
for mapping_set in mapping_sets:
    mapping.update(mapping_set)

# Function to apply mapping
def apply_mapping(value):
    return mapping.get(value, value)
df = filtered_df2.applymap(apply_mapping)

df
# df.to_csv("zendesk.csv",index=False)

# Instagram Direct take out
# Any channel = Instagram

# remove all rows with Instagram Direct value

c:\Users\maste\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\maste\AppData\Local\Temp\ipykernel_50976\378710127.py:42: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = filtered_df2.applymap(apply_mapping)

,Ticket ID,Ticket channel,Assignee ID,Assignee name,Requester ID,Requester name,Ticket subject,Requester created - Timestamp,Ticket created - Timestamp,Ticket solved - Timestamp
0,3777302,Facebook,19918762073497,Agent Socmed 5,32077763614745,E Sae,bikin brimo yg kblokir bsa gk y?,2024-05-06 00:02:21,2024-05-06 00:02:21,2024-05-06 00:05:22
2,3777304,Instagram,19918762073497,Agent Socmed 5,32077755960985,nurul_alamin,[IGDM] Kk cara ganti no HP di aplikas... - @nu...,2024-05-06 00:02:29,2024-05-06 00:02:29,2024-05-06 05:43:13
3,3777306,Twitter Direct Message,405258199354,Contact BRI,32077776751641,namaku,Conversation with namaku,2024-05-06 00:03:51,2024-05-06 00:03:52,2024-05-06 14:46:00
4,3777309,Facebook,19918762073497,Agent Socmed 5,32077861374233,Tok Bagus,Menurut gw mirip ni 2 orang🗿,2024-05-06 00:07:13,2024-05-06 00:07:13,2024-05-06 00:07:39
5,3777311,Twitter Direct Message,405258199354,Contact BRI,32077902878361,✰,Conversation with ✰,2024-05-06 00:07:56,2024-05-06 00:07:56,2024-05-06 12:37:50
...,...,...,...,...,...,...,...,...,...,...
1181,3779914,Twitter,405257335633,Agent Sosmed 3,32118165205913,Hana Dwi,Brimo error gimana ya? Ga bisa ke buka https:/...,2024-05-07 04:54:12,2024-05-07 04:54:20,2024-05-07 04:56:37
1182,3779935,Facebook,405303061074,Agent Sosmed 2,32118841105689,Ahmad Yani,Klw bisa saat mengambil atau memotong Uang di...,2024-05-07 05:41:57,2024-05-07 05:41:57,2024-05-07 05:51:30
1183,3779940,Instagram,405303061074,Agent Sosmed 2,32119016699161,muhammadakbardurimalang,[IGDM] Selamat pagi - @muhammadakbardurimal...,2024-05-07 05:50:27,2024-05-07 05:50:27,2024-05-07 05:53:39
1184,3779942,Twitter,405257335633,Agent Sosmed 3,32119084456601,Kang Timbul🇮🇩🇵🇸,@promo_BRI Kalau uang hilang bagaimana?,2024-05-07 05:54:21,2024-05-07 05:54:21,2024-05-07 05:57:39
1185,3779948,Twitter,405303061074,Agent Sosmed 2,32119097263385,ruby,"Selamat pagi admin, saya mau bertanya.\nSaya i...",2024-05-07 05:59:07,2024-05-07 05:59:17,2024-05-07 06:00:08

## Omni

In [48]:
# Email
import pandas as pd
from bs4 import BeautifulSoup


# Load the Excel file
path = r"C:\Users\maste\Downloads\Omni\interaction_email2.xlsx"
df = pd.read_excel(path)


# Function to convert HTML to text
def html_to_text(html):
    if pd.isna(html):
        return ""
    soup = BeautifulSoup(html, "html.parser")
    text = soup.get_text()
    # Replace multiple consecutive newlines with a single newline
    text = re.sub(r'\n+', '\n', text)
    # Clean the text
    text = text.strip()
    return text

# Apply the function to the 'message_html' column
df['message_text'] = df['message_html'].apply(html_to_text)
df_cleaned = df.drop(columns=['message_html'])
df_cleaned = df_cleaned[['Nomor', 'session_id', 'From Email', 'agent_id', 'Agent Name', 'Type', 'message_text', 'Date Created']]
# Display the dataframe with the new 'message_text' column
# df_cleaned.iloc[:5].to_csv('message_html.csv')

df_cleaned[df_cleaned['session_id']=='em_663fa453b84c5']

,Nomor,session_id,From Email,agent_id,Agent Name,Type,message_text,Date Created
0,1,em_663fa453b84c5,reply@e.ktvu.com,7594,-,IN,Cute Alert! Help Name Oakland Zoo's New Giraff...,2024-05-12 00:00:56
1,2,em_663fa453b84c5,-,7594,Dimas Bangun Budiarto,OUT,,2024-05-12 00:11:56

In [3]:
## WhatsApp

import pandas as pd


path=r"C:\Users\maste\Downloads\interaction_whatsapp_history.xlsx"

df=pd.read_excel(path)
df.columns

Index(['Nomor', 'session_id', 'From Name', 'agent_id', 'Agent Name', 'Type',
       'message', 'Date Create'],
      dtype='object')

## Zendesk

In [17]:
import pandas as pd
import re

# Sample data
data = {
    'Ticket ID': ['TTB001', 'TTB002', 'TTB003', 'TTB004', 'TTB005'],
    'Details': [
        'TT Zendesk: 2533068',
        'TT Zendesk  Ticket #2480057',
        'TT Zendesk  #2483681',
        'Zendesk : Ticket #2477717',
        'TT Zendesk  Ticket #2485228'
    ]
}

# Create a DataFrame

path=r"D:\dataquality\exp_51.csv"
df=pd.read_csv(path)

# Function to extract the 7-digit number from the Details column
def extract_number(detail):
    match = re.search(r'Zendesk.*?(\d{7})', detail)
    if match:
        return match.group(1)
    return None

# Add a new column with the extracted 7-digit numbers
df['bricare_id'] = df['Details'].apply(extract_number)

df.dropna(inplace=True)
df

,Index,Ticket ID,Details,bricare_id
4002,4002,TTB000043839078,TT Zendesk Ticket #2480057\n\nNasabah gagal m...,2480057
15314,15314,TTB000043853192,Nasabah melaporkan via #Sosmed #IGDM @ikasntka...,2477717
15328,15328,TTB000043853282,TT Zendesk #2483681\n\nNasabah gagal melakuka...,2483681
30550,30550,TTB000043873001,TT Zendesk Ticket #2485228\n\nNasabah gagal m...,2485228
129301,129301,TTB000044002433,Judul: Ingin Melunasi Tagihan BRI Ceria di Awa...,2500563
129349,129349,TTB000044002613,Judul: Ingin Melunasi Tagihan BRI Ceria di Awa...,2500563
245752,245752,TTB000044151974,"Judul: Tokopedia Card Masih Cetak Kartu, Padah...",2519092
273982,273982,TTB000044188081,"Judul : Pembayaran BRI Ceria Berhasil, tapi Ta...",2527535
274198,274198,TTB000044188266,Judul : Tidak Mendapatkan Welcome Bonus OVO Po...,2527552
288682,288682,TTB000044206915,Judul: Tagihan BRI Ceria Terdebet Dua Kali\nLi...,2529217
294058,294058,TTB000044213262,"Judul: Terkait Transfer Salah Rekening, Pelaya...",2529671
317854,317854,TTB000044253170,Judul: Susahnya Pembukaan Rekening Bank BRI me...,2533068
317945,317945,TTB000044253439,Judul: Tokopedia Card dari BRI Tidak Kunjung S...,2533092
318176,318176,TTB000044253725,Judul: Pembayaran BRI Ceria Ter-autodebit Dua ...,2533103

## Error

In [ ]:
import pandas as pd

# Load the larger file
larger_df = pd.read_csv('path_to_data.csv')

# Load the error file
smaller_df = pd.read_csv('path_to_error.csv')

# Filter the DataFrame based on 'Ticket ID' values in the error DataFrame
filtered_df = larger_df[larger_df['Ticket ID'].isin(smaller_df['Ticket ID'])]

# Save the new CSV file
filtered_df.to_csv('filtered_larger_file.csv', index=False)

## Cut into 100k rows

In [4]:
import pandas as pd


path=r"D:\dataquality\exp_51.csv"

path2=r"D:\dataquality\bricare_100k_before2023.csv"



df=pd.read_csv(path2)

# df = df.dropna(how='all')

# df['Call_Type_ID']='a1DMR00000008iL2AQ'
# df['Last_Modified_By']='005MR0000004GJ7'

# # df=df.iloc[:100000]

# df.to_csv('exp_52_100k.csv')

df

C:\Users\maste\AppData\Local\Temp\ipykernel_17676\194880264.py:10: DtypeWarning: Columns (7,14,16,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(path2)

,Unnamed: 0,Ticket_ID,Call_Type_ID,Create_Date,gateway,Jenis_Laporan,Nama_Nasabah,No_Rekening,Nominal,status,TanggalClosed,tanggalTransaksi,Chanel,Fitur,Nomor_Kartu,user_group,assgined_to,attachment_done,email,full_name,no_telepon,approver_login,approver_name,SLAResolution,submitter_login_id,submitter_user_group,user_login_name
0,0,TTB000026204763,8425,2020-01-01 07:19:37,Phone,Maintenance,Arif Budi Saputra,021234567890123,0.0,Closed,2020-01-01 07:19:43,NaN,UKO,e-channel,5221841189816746,LCC-CRC,NaN,NaN,NaN,Really Artha Ully Manik,081234567890,NaN,NaN,20.0,90136590.0,NaN,Really Artha Ully Manik
1,1,TTB000026204728,8405,2020-01-01 07:19:30,Phone,Information,Arif Budi Saputra,021234567890123,0.0,Closed,2020-01-01 07:17:02,2020-01-01 00:00:00,ATM BRI,Kartu tertelan,5221842126912762,LCC-CCTCALL,NaN,NaN,NaN,DELLA LARASSARI,081234567890,90022934.0,Adhi Nitidharma,20.0,90135196.0,NaN,DELLA LARASSARI
2,2,TTB000026204747,8202,2020-01-01 07:19:27,Phone,Information,Arif Budi Saputra,021234567890123,741700.0,Closed,2020-05-20 08:50:01,2020-01-01 00:00:00,NaN,NaN,5221842112540379,LCC-CCTCALL,90140806,NaN,NaN,Kartika Fitriani,081234567890,NaN,NaN,20.0,90141079.0,LCC-CCTCALL,Kartika Fitriani
3,3,TTB000026204659,8812,2020-01-01 07:00:34,Phone,Information,Arif Budi Saputra,021234567890123,1000000.0,Closed,2020-01-01 07:00:29,2020-01-01 00:00:00,ATM BRI,Tarik Tunai,6013011000558717,LCC-ON US,NaN,NaN,NaN,AMELIA RAHMADANI,081234567890,723.0,Ismail,10.0,60443.0,LCC-CCTCALL,AMELIA RAHMADANI
4,4,TTB000026204577,8202,2020-01-01 07:09:29,Phone,Information,Arif Budi Saputra,021234567890123,500000.0,Closed,2020-05-20 08:47:29,2020-01-01 00:00:00,NaN,NaN,5326595007099497,LCC-CCTCALL,90140806,NaN,bacuelkueh@gmail.com,Amalia Fitriana,081234567890,NaN,NaN,20.0,60422.0,LCC-CCTCALL,Amalia Fitriana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,TTB000026461450,1204,2020-01-16 15:35:11,Phone,Maintenance,MELLY AMELIA,NaN,0.0,Closed,2020-01-16 15:35:16,NaN,NaN,Aktivasi,4365020275787801.0,LCC-CCTTELE2,NaN,NaN,NaN,Prila Puspita Handayani,085220302121,NaN,NaN,19.0,90133778.0,LCC-CCTTELE2,Prila Puspita Handayani
99996,99996,TTB000026461198,1203,2020-01-16 15:35:12,Phone,Maintenance,PENY MASDIYATI,NaN,0.0,Closed,2020-01-16 15:35:19,2020-01-16 00:00:00,NaN,Aktivasi,5188284280464804.0,LCC-CCTCALL,NaN,NaN,NaN,ZAIN OKTARIFAH,0711580555,NaN,NaN,19.0,60469.0,LCC-CCTCALL,ZAIN OKTARIFAH
99997,99997,TTB000026461240,2202,2020-01-16 15:35:55,Phone,Maintenance,WIWIT UTOPO,NaN,0.0,Closed,2020-01-16 15:36:03,2020-01-16 00:00:00,NaN,Blokir Kartu,4365020283691409.0,KKD-RMG-EARLY,NaN,NaN,NaN,LIEDIA SEPTY VIRGIYANTI,087729151888,NaN,NaN,2.0,60018.0,LCC-CCTCALL,LIEDIA SEPTY VIRGIYANTI
99998,99998,TTB000026461562,4214,2020-01-16 15:38:51,Phone,Maintenance,DEDEK SATRIANI,NaN,0.0,Closed,2020-01-17 17:06:44,NaN,NaN,Perubahan data,5188560257775805.0,KKD-CRI-DATAM,90109444.0,NaN,NaN,Nurul Fitriani,081929732311,NaN,NaN,11.0,90140273.0,NaN,Nurul Fitriani
99999,99999,TTB000026461382,8425,2020-01-16 15:34:51,Phone,Maintenance,IRNALIA V HUTAURUK,538701010594533.0,0.0,Closed,2020-01-16 15:36:08,2020-01-16 00:00:00,UKO,e-channel,6013013025463113.0,LCC-CRC,NaN,NaN,NaN,Yusuf Sidiq,082370763306,NaN,NaN,20.0,90138132.0,NaN,Yusuf Sidiq

## Testing


Untuk testing data case 100k, filenya 100k dummy dan pakai mapping attch


CSV untuk buat path attachments:
https://docs.google.com/spreadsheets/d/1u4VCDDj7LyeWDoF5SCi4Mwca_cmmOsDuzd88eNP1lQg/edit#gid=1428921576

I have a csv file, you will see some columns, what I want is whatever dataset I have you should see this file I upload as a master file so when you see columns "jenis laporan" "Produk" and "Jenis Produk" you should refer this master file.

Jenis produk is Produk L2
produk is Produk L1
Jenis Laporan is Case Category


so what ever call type, these 3 columns should follow the call type, write the python script

## Call Type

In [7]:
import pandas as pd

# Load your dataset
user_dataset_path = r"D:\dataquality\merged_bricare.csv"
user_df = pd.read_csv(user_dataset_path)

# Load the master file
master_df_path =r"C:\Users\maste\Downloads\bricare\(FINAL) SLA&OLA_NewUserGrouping_Ringkasan_Tambahan field(Full Call Type Fix).csv"
master_df = pd.read_csv(master_df_path)

# Ensure column names are consistent and clean
master_df = master_df.rename(columns={
    'Call Types': 'Call_Type_ID', 
    'Product': 'Produk', 
    'Sub Product': 'Jenis_Produk', 
    'Case Category': 'Jenis_Laporan'
})

# Merge your dataset with the master file on 'Call_Type_ID'
merged_df = pd.merge(user_df, master_df[['Call_Type_ID', 'Produk', 'Jenis_Produk', 'Jenis_Laporan']], on='Call_Type_ID', how='left')

# Update the columns in your dataset with the mapped values from the master file
user_df['Produk'] = merged_df['Produk_y']
user_df['Jenis_Produk'] = merged_df['Jenis_Produk_y']
user_df['Jenis_Laporan'] = merged_df['Jenis_Laporan_y']

# Save the updated dataset
updated_dataset_path = 'updated_merged_bricare.csv'
user_df.to_csv(updated_dataset_path, index=False)

# Display the first few rows of the updated dataset
print(user_df.head())

KeyError: "['Produk', 'Jenis_Produk'] not in index"

In [8]:
import pandas as pd

# Load your dataset
user_dataset_path = r"D:\dataquality\merged_bricare.csv"
user_df = pd.read_csv(user_dataset_path)

# Load the master file
master_df_path = r"C:\Users\maste\Downloads\bricare\(FINAL) SLA&OLA_NewUserGrouping_Ringkasan_Tambahan field(Full Call Type Fix).csv"
master_df = pd.read_csv(master_df_path)

# Ensure column names are consistent and clean
master_df = master_df.rename(columns={
    'Call Types': 'Call_Type_ID', 
    'Product': 'Produk', 
    'Sub Product': 'Jenis_Produk', 
    'Case Category': 'Jenis_Laporan'
})

# Merge your dataset with the master file on 'Call_Type_ID'
merged_df = pd.merge(user_df, master_df[['Call_Type_ID', 'Produk', 'Jenis_Produk', 'Jenis_Laporan']], on='Call_Type_ID', how='left')

# Update the columns in your dataset with the mapped values from the master file
user_df['Produk'] = merged_df['Produk_y']
user_df['Jenis_Produk'] = merged_df['Jenis_Produk_y']
user_df['Jenis_Laporan'] = merged_df['Jenis_Laporan_y']

# Save the updated dataset
updated_dataset_path = 'updated_merged_bricare.csv'
# user_df.to_csv(updated_dataset_path, index=False)

# Display the first few rows of the updated dataset
print(user_df.head())

KeyError: "['Produk', 'Jenis_Produk'] not in index"

In [16]:
import pandas as pd

# Load dataset
user_dataset_path = r"D:\dataquality\merged_bricare.csv"
user_df = pd.read_csv(user_dataset_path)

# Load the master file
master_df_path = r"C:\Users\maste\Downloads\bricare\(FINAL) SLA&OLA_NewUserGrouping_Ringkasan_Tambahan field(Full Call Type Fix).csv"
master_df = pd.read_csv(master_df_path)

# Ensure column names are consistent and clean in the master file
master_df = master_df.rename(columns={
    'Call Types': 'Call_Type_ID', 
    'Product L1': 'Produk', 
    'Product L2': 'Jenis_Produk', 
    'Case Category': 'Jenis_Laporan'
})

# Convert Call_Type_ID to string in both dataframes to ensure consistency
user_df['Call_Type_ID'] = user_df['Call_Type_ID'].astype(str)
master_df['Call_Type_ID'] = master_df['Call_Type_ID'].astype(str)

# Merge dataset with the master file on 'Call_Type_ID'
merged_df = pd.merge(user_df, master_df[['Call_Type_ID', 'Produk', 'Jenis_Produk', 'Jenis_Laporan']], on='Call_Type_ID', how='left')

# Update the columns in your dataset with the mapped values from the master file
user_df['Produk'] = merged_df['Produk_y']
user_df['Jenis_Produk'] = merged_df['Jenis_Produk_y']
user_df['Jenis_Laporan'] = merged_df['Jenis_Laporan_y']

# Save the updated dataset
# updated_dataset_path = '/mnt/data/updated_merged_bricare.csv'
# user_df.to_csv(updated_dataset_path, index=False)

# Display the first few rows of the updated dataset
user_df[['Call_Type_ID', 'Produk', 'Jenis_Produk', 'Jenis_Laporan']]

,Call_Type_ID,Produk,Jenis_Produk,Jenis_Laporan
0,8701,NaN,NaN,NaN
1,8202,Servicing,"Informasi Promo, Program, Produk",Products / Promotion Inquiry
2,8701,NaN,NaN,NaN
3,8413,Transaction Banking,Transaction Solution,Complaint - Transaction
4,8602,Servicing,Mobile Banking,Platform & Device Support
5,8701,NaN,NaN,NaN
6,8413,Transaction Banking,Transaction Solution,Complaint - Transaction
7,8201,Savings,Tabungan,Inquiry
8,8915,Transaction Banking,Transaction Solution,Complaint - Transaction
9,8808,Transaction Banking,Transaction Solution,Complaint - Transaction
10,8812,Transaction Banking,Transaction Solution,Complaint - Transaction
11,8812,Transaction Banking,Transaction Solution,Complaint - Transaction
12,8812,Transaction Banking,Transaction Solution,Complaint - Transaction
13,8915,Transaction Banking,Transaction Solution,Complaint - Transaction
14,8433,Transaction Banking,Transaction Solution,Complaint - Transaction
15,8602,Servicing,Mobile Banking,Platform & Device Support
16,8812,Transaction Banking,Transaction Solution,Complaint - Transaction
17,8413,Transaction Banking,Transaction Solution,Complaint - Transaction
18,8701,NaN,NaN,NaN
19,8410,Transaction Banking,Transaction Solution,Complaint - Transaction
20,8701,NaN,NaN,NaN
21,8812,Transaction Banking,Transaction Solution,Complaint - Transaction
22,8501,Servicing,Kartu Debit,Request
23,8202,Servicing,"Informasi Promo, Program, Produk",Products / Promotion Inquiry
24,8433,Transaction Banking,Transaction Solution,Complaint - Transaction